# Bot Configuration
BOT_TOKEN=your_telegram_bot_token_here
BOT_USERNAME=your_bot_username_here
ADMIN=123456789,987654321

# SQLite (fayl yo'li konteyner ichida)
DB_PATH=/app/data/referral_bot.db

# Webhook
WEBHOOK_HOST=https://api-english.anasxonummataliy.dev
WEBHOOK_PATH=/webhook

# Environment
ENVIRONMENT=production
